

/*skills styles*/

*{
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.container {
  width: 800px;
  height:100vh;
  background-color:#ccc;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content{
  background-color: green;
  flex: 1;
  display: flex;
}

.main {
  background-color: yellow;
  flex: 0 0 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.footer {
  flex: 0 0 50px;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
}
