h1,h2,h3,h4,h5{
  font-size: 64px;
  color: blue;
  text-decoration: underline;
  text-decoration:uppercase;
}
#pic{
  max-width: 600px;
  height: auto;
}

table,td,th{
  border: 1px blue
}

.eggs{ max-width: 200px;
      height: auto;

}

.butter{
  max-width: 200px;
  height: auto;

}

.sugar{
  max-width: 200px;
  height: auto;
}

.flour{
  max-width: 200px
  height: auto;
}
